body {
    background-color: #f5f5f5;
}

#articleBeingRead div {
    margin-bottom: 15px;
}

#articleBeingRead span {
    margin-left: 15px;
    float: right;
}

#avgCalculationInterval {
    float: right;
}

#url, #topArticleUrl {
    min-width: 400px;
}

#clearLog {
    float: right;
}
